.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .timer-display {
      width: 200px; 
      height: 100px; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-weight: bold;
      color: $color-text-light;
      background-color: $color-primary;
      border-radius: 3px;
    }
  }
  
