$color-white: white;
$color-black: black;

$color-primary: $color-white;
$color-secondary: $color-black;
$color-brand-1: $color-black;
$color-brand-2: $color-black;
$color-accent-1: $color-black;
$color-accent-2: $color-black;
$color-warning: #808080;
$color-error: #808080;
$color-success: #808080;

$color-text-light: $color-white;
$color-text-dark: $color-black;