@use '../abstracts' as *;
.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.m0 {
	margin: 0;
}

.mtxxxs {
	margin-top: $spacing-xxxs;
}

.mtxxs {
	margin-top: $spacing-xxs;
}

.mtxs {
	margin-top: $spacing-xs;
}

.mtsm {
	margin-top: $spacing-sm;
}

.mtmd {
	margin-top: $spacing-md;
}

.mtlg {
	margin-top: $spacing-lg;
}

.mtxl {
	margin-top: $spacing-xl;
}

.mtxxl {
	margin-top: $spacing-xxl;
}

.mtxxxl {
	margin-top: $spacing-xxxl;
}

.p0 {
	padding: 0;
}

.ptxxxs {
	padding-top: $spacing-xxxs;
}

.ptxxs {
	padding-top: $spacing-xxs;
}

.ptxs {
	padding-top: $spacing-xs;
}

.ptsm {
	padding-top: $spacing-sm;
}

.ptmd {
	padding-top: $spacing-md;
}

.ptlg {
	padding-top: $spacing-lg;
}

.ptxl {
	padding-top: $spacing-xl;
}

.ptxxl {
	padding-top: $spacing-xxl;
}

.ptxxxl {
	padding-top: $spacing-xxxl;
}
